{% extends "network/layout.html" %}

{% block body %}
    <div class="title">
        <h1>Following</h1>
    </div>

    <div class="all_post_view">
        {% for post in page_posts %}
            <div class="form-group border rounded-1">
                <a class="username" href="{% url 'profile' user_id=post.user.id %}">{{ post.user }}</a>
                <br>
                {% if post.id in user_liked %}
                    <button class="btn btn-outline-primary fa fa-thumbs-down" onclick="likeHandler({{ post.id }}, {{ user_liked|safe }})" id="{{ post.id }}"></button>
                {% else %}
                    <button class="btn btn-outline-primary fa fa-thumbs-up" onclick="likeHandler({{ post.id }}, {{ user_liked|safe }})" id="{{ post.id }}"></button>
                {% endif %}
                <p></p>
                {% if post.likes == 1 %}
                    <h2 id="count_like_{{ post.id }}" class="like">{{ post.likes }} like</h2>
                {% else %}
                    <h2 id="count_like_{{ post.id }}" class="like">{{ post.likes }} likes</h2>
                {% endif %}
                <p class="message">{{ post.message }}</p>
                <p class="date">{{ post.date }}</p>
        <!-- <p>Comment</p> -->
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="mx-5 pagination">
            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
