{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="{% static 'capstone/styles.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'capstone/layout.js' %}" defer></script>
</head>
    <body>
        <!-- Top navbar big screen -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent position-relative">
            <div class="container mt-4">
                <button class="navbar-toggler mr-auto position-absolute" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="whoami" href="{% url 'index' %}">WhoAmI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="timelinescroll">Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="referralscroll">Referrals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="contactMe">Contact Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="referral">Refer Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/static/Ricardo Miranda.pdf" id="downloadcv">Download CV</a>
                        </li>
                        {% if user.is_authenticated %}
                            <div id="login-success" style="display: none;">Login Successful!</div>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact_fetch' %}" id="contacts" hidden>Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="messagescroll" >Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="timelinePost">Timeline Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' user_id=user.id %}" id="username"><strong>{{ user.username }}</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" name="logout" id="logout" href="{% url 'logout' %}">Log Out</a>
                            </li>
                            <p hidden>login was successful test</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--Top email small-->
            <div class="d-lg-none text-center position-absolute w-100" style="top: 50%; transform: translateY(-50%);">
                <p class="m-0" id="contactEmail">ricardomirandaqa@gmail.com</p>
            </div>
        </nav>
        <!--Top nav bar small-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent horizontal-align-center fixed-top d-lg-none">
            <div class="container justify-content-center align-items-center">
                <ul class="navbar-nav flex-row justify-content-center w-100">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-qa" href="https://resources.workable.com/qa-engineer-job-description">
                            <img class="nav-button" src="/static/capstone/icons/Green/qa.svg" alt="qa">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-terminal" href="https://ubuntu.com/tutorials/command-line-for-beginners#1-overview">
                            <img class="nav-button" src="/static/capstone/icons/Green/terminal.svg" alt="linux terminal">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-python" href="https://www.python.org/">
                            <img class="nav-button" src="/static/capstone/icons/Green/python.svg" alt="python">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-java" href="https://www.java.com/">
                            <img class="nav-button" src="/static/capstone/icons/Green/java.svg" alt="java">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-apple" href="https://en.wikipedia.org/wiki/MacOS">
                            <img class="nav-button" src="/static/capstone/icons/Green/apple.svg" alt="apple">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-linux" href="https://www.linux.org/">
                            <img class="nav-button" src="/static/capstone/icons/Green/ubuntu.svg" alt="linux">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-html" href="https://pt.wikipedia.org/wiki/HTML">
                            <img class="nav-button" src="/static/capstone/icons/Green/html.svg" alt="html">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-javascript" href="https://pt.wikipedia.org/wiki/JavaScript">
                            <img class="nav-button" src="/static/capstone/icons/Green/js.svg" alt="javascript">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-cypress" href="https://www.cypress.io/">
                            <img class="nav-button" src="/static/capstone/icons/Green/cypress.svg" alt="cypress">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-small-react" href="https://react.dev/">
                            <img class="nav-button" src="/static/capstone/icons/Green/react.svg" alt="react">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent"><br><br><br></nav>

        {% block body%}
        {% endblock %}

        <!-- Right nav bar big-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-right vertical-align-right d-none d-lg-block">
            <div class="container justify-content-center">
                <ul class="navbar-nav ml-auto vertical-email">
                    <li class="nav-item ">
                        <p id="contactEmail">ricardomirandaqa@gmail.com</p>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Left nav bar big-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-right vertical-align-left d-none d-lg-block">
            <div class="container justify-content-center">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- <span class="separator-column"></span> -->
                        <a class="nav-link" id="nav-qa" href="https://resources.workable.com/qa-engineer-job-description">
                            <img class="nav-button" src="/static/capstone/icons/Green/qa.svg" alt="qa">
                        </a>
                        <a class="nav-link" id="nav-terminal" href="https://ubuntu.com/tutorials/command-line-for-beginners#1-overview">
                            <img class="nav-button" src="/static/capstone/icons/Green/terminal.svg" alt="linux terminal">
                        </a>
                        <a class="nav-link" id="nav-python" href="https://www.python.org/">
                            <img class="nav-button" src="/static/capstone/icons/Green/python.svg" alt="python">
                        </a>
                        <a class="nav-link" id="nav-java" href="https://www.java.com/">
                            <img class="nav-button" src="/static/capstone/icons/Green/java.svg" alt="java">
                        </a>
                        <a class="nav-link" id="nav-apple" href="https://en.wikipedia.org/wiki/MacOS">
                            <img class="nav-button" src="/static/capstone/icons/Green/apple.svg" alt="apple">
                        </a>
                        <a class="nav-link" id="nav-linux" href="https://www.linux.org/">
                            <img class="nav-button" src="/static/capstone/icons/Green/ubuntu.svg" alt="linux">
                        </a>
                        <a class="nav-link" id="nav-html" href="https://pt.wikipedia.org/wiki/HTML">
                            <img class="nav-button" src="/static/capstone/icons/Green/html.svg" alt="html">
                        </a>
                        <a class="nav-link" id="nav-javascript" href="https://pt.wikipedia.org/wiki/JavaScript">
                            <img class="nav-button" src="/static/capstone/icons/Green/js.svg" alt="javascript">
                        </a>
                        <a class="nav-link" id="nav-cypress" href="https://www.cypress.io/">
                            <img class="nav-button" src="/static/capstone/icons/Green/cypress.svg" alt="cypress">
                        </a>
                        <a class="nav-link" id="nav-react" href="https://react.dev/">
                            <img class="nav-button" src="/static/capstone/icons/Green/react.svg" alt="react">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Bottom nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-bottom">
            <div class="container justify-content-center">
                <ul class="navbar-nav flex-row justify-content-center w-100">
                    <li class="nav-item">
                        <a class="nav-link mx-1" id="nav-github" href="http://www.github.com/oricardomiranda">
                            <img class="nav-button" src="/static/capstone/icons/Green/github-green.svg" alt="GitHub">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1" id="nav-linkedin" href="https://www.linkedin.com/in/ricardocorterealmiranda/">
                            <img class="nav-button" src="/static/capstone/icons/Green/linkedin-green.svg" alt="LinkedIn">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>

</html>
