{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Active Listings</h1>
    <form action="{% url 'filterCategory' %}" method="POST" class="custom-dropdown-form">
        {% csrf_token %}
        <div class="custom-input-group">
            <select class="custom-select" aria-label="Default select example" name="category" style="max-width: 250px;">
                <option value="" disabled selected>Select a category</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Select</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Clear</a>
        </div>
    </form>

    <hr><br>

    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <img src="{{ listing.imageurl }}" class="card-img-top" alt="{{ listing.title }}">
                    <p class="card-text">{{ listing.description }}</p>
                    {% if not listing.isActive  and user == listing.price.user %}
                        <h2>You won!</h2>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-secondary">Auction ended</a>
                    {% elif not listing.isActive %}
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-secondary">Auction ended</a>
                    {% else %}
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
