{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        {% if message %}
            {% if update %}
                <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                <script>
                    setTimeout(function() {
                        document.getElementById('success-alert').style.display = 'none';
                    }, 5000); // 5000 milliseconds (5 seconds)
                </script>
            {% else %}
                <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                <script>
                    setTimeout(function() {
                        document.getElementById('error-alert').style.display = 'none';
                    }, 5000); // 5000 milliseconds (5 seconds)
                </script>
            {% endif %}
        {% endif %}
    </div>

    {% if not listing.isActive  and user == listing.price.user %}
        <div class="alert alert-success" role="alert">
            Congratulations! You won the auction.
        </div>
    {% endif %}

    <h1>Listing: {{ listing.title }}</h1>

    <div>
        {% if user.is_authenticated %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm">Remove from watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Add to watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <br>

    <img src="{{ listing.imageurl }}" alt="{{ listing.imageurl }}" max-height="400px">
    <h5>{{ listing.description }}</h5>

    <br>

    <h2>${{ listing.price.bid }}</h2>

    {% if user.is_authenticated and listing.isActive %}
        <h3 style="font-size: 15px;">{{ listing.bidCount }} bid(s) so far.</h3>


        {% if not isOwner  %}
            {% if listing.price.user == user %}
                <p>You have the winning bid!</p>
            {% endif %}
            <form action="{% url 'addBid' id=listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" min="0" class="form-control" name="newBid" placeholder="Bid" style="max-width: 250px;">
                </div>
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>

        {% endif %}

        {% if isOwner %}
            <form action="{% url 'closeAuction' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Close Auction</button>
            </form>
        {% endif %}


        <br>
        <hr>

        <h2>Details</h2>
        <ul>
            <li>Listed by: {{ listing.owner }}</li>
            <li>Category: {{ listing.category }}</li>
            <li>Creation Date: {{ listing.creationDate }}</li>
        </ul>

        <hr>

        {% if user.is_authenticated %}
            <h2>Add Comment</h2>
            <form action="{% url 'comment' id=listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="comment" placeholder="Add a comment" style="max-width: 800px;">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        {% endif %}

        <br>

        <h2>Comments</h2>
        <ul class="list-group">
            {% for comment in allComments %}
                <li class="list-group-item">
                    {{ comment.message }}
                    <br>
                    Posted by {{ comment.author }} on {{ comment.commentDate }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
